{% extends 'adminlayout.html.twig' %}

{% block main %}
    <div class="adminContainer container container-fluid">

        <h1>Modifier les utilisateurs :</h1>

            {{ include('admin/user/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

            <a href="{{ path('admin_user_index') }}">Retour à la liste.</a>

            {{ include('admin/user/_delete_form.html.twig') }}
    </div>
{% endblock %}
