{% extends 'adminlayout.html.twig' %}

{% block main %}
    <div class="adminContainer container container-fluid">

        <h2>Créer un nouvel utilisateur :</h2>

            {{ include('admin/user/_form.html.twig') }}

            <a href="{{ path('admin_user_index') }}">Retour à la liste.</a>
    </div>
{% endblock %}
