<form method="post" action="{{ path('admin_homeTexte_delete', {'id': home_texte.id}) }}" onsubmit="return confirm('La suppression est irréversible, êtes-vous sûr de vouloir continuer ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ home_texte.id) }}">
    <button class="deleteBtn btn mt-2">Supprimer</button>
</form>
