{% extends 'adminLayout.html.twig' %}


{% block main %}
    <div class="adminContainer container container-fluid">
        <h1>Edit HomeTexte</h1>

        {{ include('admin/homeTexte/_form.html.twig', {'button_label': 'Update'}) }}

        <a href="{{ path('admin_homeTexte_index') }}">back to list</a>

        {{ include('admin/homeTexte/_delete_form.html.twig') }}
    </div>
{% endblock %}
