{% if homeTexte is not empty %}
    {% for texte in homeTexte %}
        <div class="homeContainer container mt-3">
            <h1>{{ texte.title }}</h1>
            <p>{{ texte.description }}</p>
        </div>
    {% endfor %}
{% endif %}
