<div class="homeContainer container mt-3">
    <h1>Coucou les enfants</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mollis feugiat ultricies. Fusce egestas leo eu nulla
        pretium, non laoreet ante pretium. Cras hendrerit leo at ipsum auctor, non vestibulum nibh accumsan. Vestibulum augue
        purus, venenatis ac lorem in, aliquet interdum justo. Fusce et interdum quam. Donec vitae maximus felis. Nullam tempor
        lobortis scelerisque. Morbi et purus diam. Integer imperdiet, enim vitae imperdiet porta, libero leo feugiat purus,
        ut tempor est felis sed libero. Aenean in vehicula metus. In pharetra facilisis bibendum. Praesent quis sodales magna,
        sit amet viverra lorem. Cras pulvinar accumsan nisi, sed ultricies ante blandit eget. Quisque fermentum sit amet magna
        vitae convallis. Nulla consectetur accumsan velit sit amet tristique. Curabitur orci ex, consequat sed bibendum nec,
        finibus a ex.
    </p>
</div>