{% extends 'adminLayout.html.twig' %}


{% block main %}
    <div class="adminContainer container container-fluid">
        <h2>Créer une nouvelle image du carousel :</h2>

            {{ include('admin/carousel/_form.html.twig') }}

            <a href="{{ path('admin_carousel_index') }}">Retour à la liste.</a>
    </div>
{% endblock %}
