{% extends 'adminLayout.html.twig' %}


{% block main %}
    <div class="adminContainer container container-fluid">
        <h2>Créer un nouveau produits :</h2>

            {{ include('admin/products/_form.html.twig') }}

            <a href="{{ path('admin_products_index') }}">Retour à la liste.</a>
    </div>
{% endblock %}
