{% extends 'layout.html.twig' %}

{% block main %}
    <div class="productContainer container container-fluid">
        <div class="productDetail  mt-5 mb-5">
            <div class="">
                <img class="productDetailPicture  mr-5" src="{{ vich_uploader_asset (product, 'imageFile', 'App\\Entity\\Products') }}" alt="image">
            </div>

            <div class="productDetailInformations">

                <div class="card-body">
                    <p class="card-text">{{ product.name }}</p>
                </div>

            </div>
        </div>
    </div>
{% endblock %}




