{% extends 'layout.html.twig' %}

{% block main %}
    <div class="container container-fluid">
        <div class="outfitDetail card mt-5 mb-5">
            <div class="">
                <img class="outfitDetailImage card-img-top mr-5" src="{{ vich_uploader_asset (product, 'imageFile', 'App\\Entity\\Products') }}" alt="image">
            </div>
        </div>
    </div>
{% endblock %}
