<footer class="footer">
    <div class="footerContainer container">
        <div class="row">
            <div class="col-md-4 footer-column">
                <ul class="ulFooter nav flex-column">
                    <li class="nav-item">
                        <span class="footer-title">Autre</span>
                    </li>
                    <li class="nav-item">
                        <a class="linkFooter nav-link" href="{{ path('map') }}">Plan</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 footer-column">
                <ul class="ulFooter nav flex-column">
                    <li class="nav-item">
                        <span class="footer-title">Contact pro</span>
                    </li>
                    <li class="nav-item">

                        <!-- Button trigger modal -->
                        <button type="button" class="btnModal btn" data-bs-toggle="modal" data-bs-target="#modal-contact">
                            Demande
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="modal-contact" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Contacter</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        ...
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                                        <button type="button" class="btn btn-primary">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
            <div class="col-md-4 footer-column">
                <ul class="ulFooter nav flex-column">
                    <li class="nav-item">
                        <span class="footer-title">Contact</span>
                    </li>
                    <li class="nav-item">
                        <span class="nav-link"><i class="bi bi-telephone-fill"></i>02.48.76.47.12</span>
                    </li>

                    <li class="nav-item">
                        <span class="nav-link"><i class="bi bi-telephone-fill"></i>02.48.74.65.63</span>
                    </li>
                </ul>
            </div>
        </div>


        <div class="row text-center">
            <div class="col-md-4 box">
        <span class="copyright quick-links">Copyright &copy; MaoMater <script>document.write(new Date().getFullYear())</script>
        </span>
            </div>
            <div class="col-md-4 box">
                <ul class="ulFooter list-inline social-buttons">
                    <li class="list-inline-item">
                        <a class="linkFooter" href="#">
                            <i class="bi bi-facebook"></i>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</footer>