<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Projet Mao{% endblock %}</title>
        <link rel="icon" type="image/png" sizes="16x16" href="https://img2.freepng.fr/20180407/iqw/kisspng-bakery-rye-bread-white-bread-computer-icons-bread-5ac8489f835331.1661979115230752315379.jpg">

        {% block stylesheets %}
           <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

            <!-- We load CDN files of Leaflet. CSS BEFORE the JS -->
            <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
          integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==" crossorigin="" />

            {{ encore_entry_link_tags('app') }}
        {% endblock %}

    </head>

    <body>
        <div id="page-container">

            {% block header %}
            {% endblock header %}

            {% block main %}
            {% endblock main %}

            {% block footer %}
            {% endblock footer %}

            {% block javascripts %}
                {{ encore_entry_script_tags('app') }}

                <script>
                    let modal = new Modal('#modal-contact');
                </script>
            {% endblock javascripts %}
        </div>
    </body>
</html>

