{% extends 'adminLayout.html.twig' %}


{% block main %}
    <div class="adminContainer container container-fluid">
        <h1>Modifier les categories</h1>

            {{ include('admin/categories/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

            {{ include('admin/categories/_delete_form.html.twig') }}

            <a href="{{ path('admin_categories_index') }}">Retour à la liste.</a>
    </div>
{% endblock %}
