{% extends 'adminLayout.html.twig' %}


{% block main %}
    <div class="adminContainer container container-fluid">
        <h2>Créer une nouvelle categorie :</h2>

            {{ include('admin/categories/_form.html.twig') }}

            <a href="{{ path('admin_categories_index') }}">Retour à la liste.</a>
    </div>
{% endblock %}
