@import "variable";

.titleLogin, .adminContainer {
  margin-top: $margingXLarge;
}

.loginContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

.deleteBtn {
  background-color: #dd6262 !important;
}

@media screen and (max-width: 800px) {
  .adminContainer {
    display: flex;
    flex-direction: column !important;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
  }
}