@import "~bootstrap/scss/bootstrap";
@import "carousel";
@import "admin";
@import "footer";
@import "products";
@import "timetable";
@import "map";

.homeContainer {
    background-color: #0a53be;
}
a {
    text-decoration: none !important;
}




/*::selection {
    background: $primary-orange;
    text-shadow: none;
}*/