@import "variable";

.homeContainer {
  margin-top: $margingSmall;
  padding-bottom: $paddingLarge;
}


@media screen and (max-width: 1000px) {
  .carouselPicture {
    margin-top: $margingSmall;
  }
}