.mapContainer {
  margin-top: 100px;
  padding-bottom: 100px;
}

/* la carte DOIT avoir une hauteur sinon elle n'apparaît pas */
#maCarte{
  height:400px;
}

@media (max-width: 768px) {
  #maCarte {
    height:400px;
  }
}
