@import "variable";

.mapContainer {
  margin-top: $margingLarge;
  padding-bottom: $paddingLarge;
}

/* la carte DOIT avoir une hauteur sinon elle n'apparaît pas */
#maCarte{
  height:400px;
}

@media (max-width: 768px) {
  #maCarte {
    height:400px;
  }
}
