@import "variable";

.navbar {
  background-color: $dark-color;

  border-radius: 0 0 13% 13%;
  border-bottom: 1px solid ;
}

.logoNavbarContainer {
  margin: 0;
  padding: 0;
}
.logoNavbar {
  margin: 0;
  padding: 0;
  height: 60px;
  width: auto;
}

