@import "variable";

.timetableContainer {
  margin-top: $margingXLarge;
  padding-bottom: $paddingXLarge;
}

.timetableCard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.titleTimetable {
  text-decoration: underline;
}