@import url('https://fonts.googleapis.com/css2?family=Advent+Pro&family=Josefin+Slab&display=swap');

$paddingXLarge : 150px;
$paddingLarge : 100px;
$paddingSmall : 50px;

$margingXLarge : 150px;
$margingLarge : 110px;
$margingSmall : 50px;

$dark-color : #d19054;
$background-color : #EEF0F2;
$main-color : #ecd9c6;
$secondary-color : #F4F4F9;

$police-color : #041F1E;
$police-color-light : #e3e0e0;


h1, H2, H3, p, a, span, li, ul {
  color: $police-color;
}

h1, H2, H3 {
  font-size: 28px;
  font-family: 'Josefin Slab', serif;
}

p ,a ,span, li, ul, label {
  font-size: 20px;
  font-family: 'Advent Pro', sans-serif;
}

a {
  text-decoration: none;
}

a:hover
{
  text-decoration:none;
  cursor:pointer;
}

.btn {
  background-color: $main-color ;
}