{% extends 'adminLayout.html.twig' %}


{% block main %}
    <div class="adminContainer container container-fluid">

        <h1>Modifier les horaires :</h1>

            {{ include('admin/timetable/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

            {{ include('admin/timetable/_delete_form.html.twig') }}

            <a href="{{ path('admin_timetable_index') }}">Retour à la liste.</a>
    </div>
{% endblock %}
