{% extends 'adminLayout.html.twig' %}


{% block main %}
    <div class="adminContainer container container-fluid">

        <h1>Create new Timetable</h1>

            {{ include('admin/timetable/_form.html.twig') }}

            <a href="{{ path('admin_timetable_index') }}">back to list</a>
    </div>
{% endblock %}
