{% extends 'layout.html.twig' %}

{% block main %}
   <div  class="tableContainer table-responsive container container-fluid">
      <h2>Nos horaires d'ouvertures:</h2>

      {% for timetable in timetables %}

          <p>Ouvert du mardi au dimanche de {{ timetable.morning }}.</p>
          <p>Et du mercredi au samedi de {{ timetable.afternoon }}.</p>

         <h2 class="mt-5">Congés annuels:</h2>
         <p>{{ timetable.winterHoliday }}</p>
         <p>{{ timetable.summerHoliday }}</p>
      {% endfor %}
   </div>
{% endblock %}
